{% extends 'base_layout.html' %}

{% block content %}
    <h1>Article List</h1>
    <form action="{% url 'articles:search' %}", method="post">
        {% csrf_token %}
        <input type="text", name="search_string", value="Title">
        <input type="submit", value="Search", name="search_button">
    </form>
    <div class='articles'>
        {% for art in arts %}
            <div class="art">
                <h2><a href="{% url 'articles:detail' slug_article=art.slug %}">{{ art.title }}</a></h2>
                <p>{{ art.snippet }}</p>
                <p>{{ art.date }}</p>
                <p class="author">added by {{ art.author.username }}</p>
            </div>
        {% empty %}
            {% if action == 'search' %}
                <p>Can not find acticle you want</p>
            {% endif %}
                
        {% endfor%}
    </div>
{% endblock %}